.col-1 {
  display: inline-block;
  width: 600px;
  margin-right:250px;
}
.col-2 { 
    display: inline-block;
    width: 300px;
    vertical-align: top;
    text-align: left;
}
.col-1 h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 22px;
}

.weather-element {
  box-shadow: 1px 1px 16px #668;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  background-color: #e0e0e0
}
.info {
  color: rgba(95, 95, 95, 0.51);
  font-weight: bold;
  width: 600px;
}
